<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Maintenance Page</title>
	</head>
	<body>
		{{> header}}
		<p>Web site is being maintained now. Thank you for your patient </p>
		{{> footer}}
	</body>
</html>